<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Expériences</div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 5%">#</th>
                <th style="width: 85%">Nom</th>
                <th style="width: 10%"></th>
            </tr>
            </thead>
            <tbody ng-if="experiences !== null">
            <tr ng-repeat="e in experiences">
                <td><a ui-sref="admin.experience({id: {{e.id}}})">{{$index + 1}}</a></td>
                <td><a ui-sref="admin.experience({id: {{e.id}}})">{{e.tag}}</a></td>
                <td>
                    <button class="btn btn-link btn-link-danger" ng-click="cancelExperience(e.id)">
                        <span class="glyphicon glyphicon-trash"></span> Supprimer
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <wf-loader ng-if="experiences === null"></wf-loader>
        </div>
        <p class="text-center top-space" ng-if="experiences !== null && experiences.length == 0">
            Aucune expérience plannifiée.
        </p>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-offset-5 col-md-2 text-center">
                    <a class="btn btn-primary" ui-sref="admin.experience">
                        Créer une expérience
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>