*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.sln
*.njsproj
*.suo
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
client/build
client/src/bower_components