<!--<div ng-include="'account/wf-logo.html'"></div>-->
<div class="logo-container">
    <h1>Inscription</h1>
</div>
<div class="login-container">
    <wf-alerts alerts="alerts"></wf-alerts>
    <form name="userForm" class="login-form">
        <div class="form-group has-feedback"
             ng-class="{'has-error': userForm.email.$invalid && !userForm.email.$pristine}">
            <label class="control-label sr-only">Mot de passe</label>
            <input type="email" class="form-control" ng-model="user.email" placeholder="E-mail"
                   name="email"
                   required/>

            <div class="red form-error-message" ng-messages="userForm.email.$error"
                 ng-show="!userForm.email.$pristine">
                <span ng-message="required">Ce champ est requis</span>
            </div>
        </div>
        <div class="form-group has-feedback"
             ng-class="{'has-error': userForm.password.$invalid && !userForm.password.$pristine}">
            <label class="control-label sr-only">Mot de passe</label>
            <input type="password" class="form-control" ng-model="user.password" placeholder="Mot de passe"
                   name="password"
                   minlength="6" required/>

            <div class="red form-error-message" ng-messages="userForm.password.$error"
                 ng-show="!userForm.password.$pristine">
                <span ng-message="minlength">Entrez au moins 6 caractères</span>
                <span ng-message="required">Ce champ est requis</span>
            </div>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error': userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine}">
            <label class="control-label sr-only">Confirmation du mot de passe</label>
            <input class="form-control" placeholder="Confirmation du mot de passe" type="password" minlength="6" ng-model="confirmPassword" name="confirmPassword" id="confirmPassword" required wf-matches-password="user.password" />

            <div class="red form-error-message" ng-messages="userForm.confirmPassword.$error"
                 ng-show="!userForm.confirmPassword.$pristine">
                <span ng-message="minlength">Le mot de passe doit faire au moins 6 caractères</span>
                <span ng-message="required">Ce champ est requis</span>
                <span ng-message="passwordMismatch">Les mots de passe ne correspondent pas</span>
            </div>
        </div>
        <div class="form-group has-feedback"
             ng-class="{'has-error': userForm.firstName.$invalid && !userForm.firstName.$pristine}">
            <label class="control-label sr-only">Prénom</label>
            <input type="text" class="form-control" ng-model="user.firstName" placeholder="Prénom"
                   name="firstName" required/>

            <div class="red form-error-message" ng-messages="userForm.firstName.$error"
                 ng-show="userForm.password.$dirty && userForm.firstName.$invalid">
                <span ng-message="required">Ce champ est requis</span>
            </div>
        </div>
        <div class="form-group has-feedback"
             ng-class="{'has-error': userForm.lastName.$invalid && !userForm.lastName.$pristine}">
            <label class="control-label sr-only">Nom</label>
            <input type="text" class="form-control" ng-model="user.lastName" placeholder="Nom"
                   name="lastName" required/>

            <div class="red form-error-message" ng-messages="userForm.lastName.$error"
                 ng-show="!userForm.password.$pristine">
                <span ng-message="required">Ce champ est requis</span>
            </div>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error': userForm.institution.$invalid && !userForm.institution.$pristine}">
            <label class="control-label sr-only">Etablissement</label>
            <select class="form-control" 
                    ng-model="institution" placeholder="Etablissement" name="institution" 
                    ng-options="i as i.type.tag + ' ' + i.tag for i in institutions track by i.id"
                    required/>
            <div class="red form-error-message" ng-messages="userForm.institution.$error" ng-show="!userForm.institution.$pristine">
                <span ng-message="required">Ce champ est requis</span>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" ng-click="subscribe()" ng-disabled="userForm.$invalid">
                S'inscrire
            </button>
        </div>
    </form>
    <p class="text-center">
        <a ui-sref="login">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Retour
        </a>
    </p>
</div>
