<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Mon compte
            </div>
        </div>
        <form name="accountForm">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Mes informations
                    </div>
                    <div class="panel-body">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="form-group">
                                <label for="username">Login</label>
                                <input class="form-control" type="text" ng-model="user.username" name="username" id="username" disabled="disabled"/>
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input class="form-control" type="email" ng-model="user.email" name="email" id="email" disabled="disabled" />
                            </div>
                            <div class="form-group">
                                <label for="firstName">Prénom</label>
                                <input class="form-control" type="text" ng-model="user.firstName" name="firstName" id="firstName"/>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Nom</label>
                                <input class="form-control" type="text" ng-model="user.lastName" name="lastName" id="lastName"/>
                            </div>
                            <div class="form-group">
                                <label for="institution">Établissement</label>
                                <select class="form-control" ng-model="user.institution"
                                        name="type" id="institution"
                                        ng-options="i as i.type.tag + ' ' + i.tag for i in institutions track by i.id"
                                        required></select>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" ng-if="institutionType !== null">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6 text-center">
                        <!--<div class="btn-group btn-group-justified">-->
                        <a class="btn btn-default" ui-sref="{{previousState}}" ng-if="previousState != ''">
                            Retour
                        </a>
                        <a class="btn btn-primary" ng-click="updateUser()" ng-disabled="accountForm.$invalid">
                            Sauvegarder
                        </a>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>