.form-error-message {
  color: #a94442;
  padding: 5px;
}

.jumbotron-no-margin {
  margin-top: -20px;
}

.jumbotron {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #63b6db; /* Old browsers */
  background: -moz-linear-gradient(top,  #63b6db 0%, #309dcf 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63b6db), color-stop(100%,#309dcf)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #63b6db 0%,#309dcf 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #63b6db 0%,#309dcf 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #63b6db 0%,#309dcf 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #63b6db 0%,#309dcf 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); /* IE6-9 */

}

.jumbotron h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
}

.login-container,
.logo-container {
  width: 520px;
  margin: 20px auto 0 auto;
}

.login-container .login-form,
.login-container wf-error-alerts {
  width: 350px;
  margin: auto;
  display: block;
}

.logo-container {
  text-align: center;
}

.btn {
  outline: none;
}

// dummy
.x.axis line {
  shape-rendering: auto;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}


.loader {
  margin: auto;
  width: 32px;
  height: 32px;
  background: url('../img/ajax-loader.gif') center top no-repeat;
}

td a {
  display: block;
}

.top-space {
  margin-top: 10px;
}

wf-loader {
  display: block;
}